/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to bottom, #000000, #434343); /* Gradiente preto */
  color: white;
  height: 100vh;
  margin: 0;
}
